<a href="https://colab.research.google.com/github/natangarcia-gnoss/GNOSS-Modulo-2-Data/blob/main/An%C3%A1lisis_de_datos_Modulo_2_GNOSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install --upgrade comtradeapicall

In [ ]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

In [ ]:
import pandas
import requests
import comtradeapicall

In [ ]:
subscription_key = '<YOUR KEY>' # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '<OUTPUT DIR>'  # output directory for downloaded files
proxy_url = '<PROXY URL>'  # optional if you need proxy url

In [ ]:
#set some variables
from datetime import date
from datetime import timedelta
today = date.today()
yesterday = today - timedelta(days=1)
lastweek = today - timedelta(days=7)

In [ ]:
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022

In [ ]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                        reporterCode='36', cmdCode='91', flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,6.735064e+07,6.642209e+07,6.735064e+07,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.208810e+02,7.800080e+02,8.208810e+02,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,2.605931e+05,2.599554e+05,2.605931e+05,0,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.668635e+04,2.544649e+04,2.668635e+04,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,7.410397e+03,7.027445e+03,7.410397e+03,0,False,True

In [ ]:
# Call preview tariffline data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [ ]:
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.0,1118.299108,1003.845148,1118.299108
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,2.0,2178.010200,2112.074000,2178.010200
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,86.0,28196.674488,26240.047724,28196.674488
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,1.0,1041.531036,931.569200,1041.531036
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,93000.0,217240.477676,215850.979804,217240.477676

In [ ]:
# The same preview final call but using proxy_url
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True, proxy_url=proxy_url)

In [ ]:
# Call get final data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [ ]:
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,3.024066e+05,2.547313e+05,3.024066e+05,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,8.900632e+03,8.692718e+03,8.900632e+03,4,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.913730e+07,2.712739e+07,2.913730e+07,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.091258e+07,1.015719e+07,1.091258e+07,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.601507e+04,1.571131e+04,1.601507e+04,4,False,True

In [ ]:
# Call get tariffline data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [ ]:
mydf = comtradeapicall.getTarifflineData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                         reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                         partner2Code=None,
                                         customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                         countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

In [ ]:
# Call bulk download final file(s) API to output dir, (premium) subscription key required
# This example: Download monthly France final data of Jan-2000

In [ ]:
comtradeapicall.bulkDownloadFinalFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                      period='200001', reporterCode=251, decompress=True)

COMTRADE-FINAL-CM251200001H1[2022-09-04] downloaded
Total of 1 file(s) downloaded

In [ ]:
# Call bulk download final file(s) API to output dir, (premium) subscription key required
# This example: Download monthly France final classic data of Jan-2000

In [ ]:
comtradeapicall.bulkDownloadFinalClassicFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                      period='200001', reporterCode=251, decompress=True)

COMTRADE-FINALCLASSIC-CM251200001H1[2022-09-04] downloaded
Total of 1 file(s) downloaded

In [ ]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download monthly France tariffline data of Jan-2000

In [ ]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                           period='200001,200002,200003', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CM504200003H1[2023-01-03] downloaded
COMTRADE-TARIFFLINE-CM504200001H1[2022-12-09] downloaded
COMTRADE-TARIFFLINE-CM504200002H1[2023-01-03] downloaded
Total of 3 file(s) downloaded

In [ ]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download annual Morocco  data of 2010

In [ ]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='A', clCode='HS',
                                           period='2010', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CA5042010H2[2021-12-09] downloaded
Total of 1 file(s) downloaded

In [ ]:
# Call data availability for annual HS in 2021

In [ ]:
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='A', clCode='HS',
                                                period='2021', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
0,20024202101182100,C,A,2021,24,AGO,Angola,H5,HS,True,False,True,False,True,False,False,112758,-1349955130,2022-10-06T10:53:32.8266667,2022-10-06T10:53:32.8266667
1,20031202101182100,C,A,2021,31,AZE,Azerbaijan,H5,HS,True,True,True,True,True,True,True,1631459,1375342973,2022-03-29T22:50:18.8066667,2022-05-03T19:12:39.8333333
2,20032202101182100,C,A,2021,32,ARG,Argentina,H5,HS,True,True,True,True,True,False,False,416716,-1541907476,2022-06-14T19:12:34.7433333,2022-06-14T19:12:34.7433333
3,20036202101182100,C,A,2021,36,AUS,Australia,H5,HS,True,True,True,False,True,False,True,644604,-1567412700,2022-03-30T01:44:28.7033333,2022-03-30T01:44:28.7033333
4,20040202101182100,C,A,2021,40,AUT,Austria,H5,HS,True,False,True,False,True,False,False,440139,-1077957935,2022-05-27T04:12:54.5,2022-05-27T04:12:54.5

In [ ]:
# Call tariffline data availability for monthly HS in Jun-2022

In [ ]:
mydf = comtradeapicall.getTarifflineDataAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS',
                                                     period='202206', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,classificationCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,lengthCmdCode,firstReleased,lastReleased
0,30031202206202100,C,M,202206,31,AZE,H6,True,False,True,True,True,True,True,19183,-1838571256,6,2022-11-30T20:27:51.62,2022-11-30T20:27:51.62
1,30032202206182100,C,M,202206,32,ARG,H5,True,False,True,True,True,False,False,61039,1200220404,8,2022-09-29T18:08:32.9033333,2022-09-29T18:08:32.9033333
2,30036202206202100,C,M,202206,36,AUS,H6,True,False,True,False,True,False,True,268223,-1343158038,6,2022-08-22T00:14:58.7233333,2022-12-09T02:21:57.7033333
3,30051202206202100,C,M,202206,51,ARM,H6,True,True,True,True,True,False,True,44956,1878972458,10,2022-08-27T01:31:00.2566667,2022-09-21T05:12:06.67
4,30052202206182100,C,M,202206,52,BRB,H5,True,True,True,False,True,False,False,9961,-295889979,11,2022-08-23T18:30:05.99,2022-08-23T18:30:05.99

In [ ]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download HS annual data released since  yesterday

In [ ]:
from datetime import date
from datetime import timedelta
yesterday = date.today() - timedelta(days=1)
comtradeapicall.bulkDownloadFinalFileDateRange(subscription_key, directory, typeCode='C', freqCode='A',
                                               clCode='HS',
                                               period=None, reporterCode=None, decompress=False,
                                               publishedDateFrom=yesterday, publishedDateTo=None)

No data available based on the selection criteria

In [ ]:
#download reporter code 320 released from yesterday  using the classic layout (brokendown by products by partners only)

In [ ]:
comtradeapicall.bulkDownloadFinalClassicFile(subscription_key, directory, typeCode='C', freqCode='A',
                                                clCode='HS',
                                        period=None, reporterCode=320, decompress=False,
                                        publishedDateFrom=yesterday, publishedDateTo=None)

COMTRADE-FINALCLASSIC-CA3202023H6[2024-03-19] downloaded
Total of 1 file(s) downloaded

In [ ]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download HS monthly tariffline data released since  yesterday

In [ ]:
comtradeapicall.bulkDownloadTarifflineFileDateRange(subscription_key, directory, typeCode='C', freqCode='M',
                                                    clCode='HS', period=None, reporterCode=None, decompress=False,
                                                    publishedDateFrom=yesterday, publishedDateTo=None)

COMTRADE-TARIFFLINE-CM100202202H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202205H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202203H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202204H6[2023-01-12] downloaded
COMTRADE-TARIFFLINE-CM703202210H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM705202201H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202203H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202205H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202202H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM710202211H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM710202210H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM757202211H6[2023-01-13] downloaded
Total of 12 file(s) downloaded

In [ ]:
# Call final data availability for annual HS in 2021
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='A', clCode='HS',
                                                period='2021', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
0,20024202101182100,C,A,2021,24,AGO,Angola,H5,HS,True,False,True,False,True,False,False,112758,-1349955130,2022-10-06T10:53:32.8266667,2022-10-06T10:53:32.8266667
1,20031202101182100,C,A,2021,31,AZE,Azerbaijan,H5,HS,True,True,True,True,True,True,True,1631459,1375342973,2022-03-29T22:50:18.8066667,2022-05-03T19:12:39.8333333
2,20032202101182100,C,A,2021,32,ARG,Argentina,H5,HS,True,True,True,True,True,False,False,416716,-1541907476,2022-06-14T19:12:34.7433333,2022-06-14T19:12:34.7433333
3,20036202101182100,C,A,2021,36,AUS,Australia,H5,HS,True,True,True,False,True,False,True,644604,-1567412700,2022-03-30T01:44:28.7033333,2022-03-30T01:44:28.7033333
4,20040202101182100,C,A,2021,40,AUT,Austria,H5,HS,True,False,True,False,True,False,False,440139,-1077957935,2022-05-27T04:12:54.5,2022-05-27T04:12:54.5

In [ ]:
# Call tariffline data availability for monthly HS in Jun-2022
mydf = comtradeapicall.getTarifflineDataAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS',
                                                     period='202206', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,classificationCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,lengthCmdCode,firstReleased,lastReleased
0,30031202206202100,C,M,202206,31,AZE,H6,True,False,True,True,True,True,True,19183,-1838571256,6,2022-11-30T20:27:51.62,2022-11-30T20:27:51.62
1,30032202206182100,C,M,202206,32,ARG,H5,True,False,True,True,True,False,False,61039,1200220404,8,2022-09-29T18:08:32.9033333,2022-09-29T18:08:32.9033333
2,30036202206202100,C,M,202206,36,AUS,H6,True,False,True,False,True,False,True,268216,527449718,6,2022-08-22T00:14:58.7233333,2023-01-12T02:32:26.3933333
3,30051202206202100,C,M,202206,51,ARM,H6,True,True,True,True,True,False,True,44956,1878972458,10,2022-08-27T01:31:00.2566667,2022-09-21T05:12:06.67
4,30052202206182100,C,M,202206,52,BRB,H5,True,True,True,False,True,False,False,9961,-295889979,11,2022-08-23T18:30:05.99,2022-08-23T18:30:05.99

In [ ]:
# Call final bulk files data availability for annual S1 in 2021
mydf = comtradeapicall.getFinalDataBulkAvailability(subscription_key, typeCode='C', freqCode='A', clCode='S1',
                                                    period='2021', reporterCode=None)
mydf.head(5)

,fileUrl,fileSize,isOriginalClassification,reporterCode,freqCode,typeCode,classificationCode,refPeriodId,period,publicationDate,partitionKey,rowKey,timestamp,eTag
0,https://comtradeapi.un.org/bulk/v1/file/100/67...,8.48 MB,False,100,A,C,S1,202101,2021,2022-11-11T03:45:19Z,100,674d8255f5b11e9d100dc2891449fc6d6fcbc0ce8dd163...,2022-11-11T02:45:19.379056+00:00,"W/""datetime'2022-11-11T02%3A45%3A19.379056Z'"""
1,https://comtradeapi.un.org/bulk/v1/file/104/24...,2.62 MB,False,104,A,C,S1,202101,2021,2022-06-01T17:25:36Z,104,240e0a06da369367c6719ade395f0fa473460c670372f1...,2022-06-01T15:25:36.7326177+00:00,"W/""datetime'2022-06-01T15%3A25%3A36.7326177Z'"""
2,https://comtradeapi.un.org/bulk/v1/file/108/a7...,329.45 KB,False,108,A,C,S1,202101,2021,2022-10-10T16:48:05Z,108,a7ed5ad4042ae422faeaa7a0a5449d308a88b1cdeff786...,2022-10-10T14:48:06.004356+00:00,"W/""datetime'2022-10-10T14%3A48%3A06.004356Z'"""
3,https://comtradeapi.un.org/bulk/v1/file/112/2c...,2.92 MB,False,112,A,C,S1,202101,2021,2022-04-12T11:29:15Z,112,2cc87fecc6e0c51d2482babc5804c81f2e0ef579010367...,2022-04-12T09:29:15.3544847+00:00,"W/""datetime'2022-04-12T09%3A29%3A15.3544847Z'"""
4,https://comtradeapi.un.org/bulk/v1/file/116/1d...,432.06 KB,False,116,A,C,S1,202101,2021,2022-10-17T17:19:27Z,116,1d1e20237d40dbfc9685fcbc41192c8a742ee9fac2a34d...,2022-10-17T15:19:27.7646758+00:00,"W/""datetime'2022-10-17T15%3A19%3A27.7646758Z'"""

In [ ]:
# Call tariffline bulk files data availability for monthly HS in Jun-2022
mydf = comtradeapicall.getTarifflineDataBulkAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS',
                                                         period='202206', reporterCode=None)
mydf.head(5)

,fileUrl,fileSize,reporterCode,freqCode,typeCode,classificationCode,period,partitionKey,rowKey,timestamp,eTag
0,https://comtradeapi.un.org/bulk/v1/fileTariffl...,3.73 MB,100,M,C,H6,202206,100,26cfcd2bb0fc73452fa2e849c69e0fe210ae98067f6f8e...,2023-01-07T02:15:45.7550327+00:00,"W/""datetime'2023-01-07T02%3A15%3A45.7550327Z'"""
1,https://comtradeapi.un.org/bulk/v1/fileTariffl...,6.27 MB,124,M,C,H6,202206,124,55715f53ace4518405dff28296558882e95e21eac60776...,2022-09-13T02:23:38.3822657+00:00,"W/""datetime'2022-09-13T02%3A23%3A38.3822657Z'"""
2,https://comtradeapi.un.org/bulk/v1/fileTariffl...,1.17 MB,152,M,C,H6,202206,152,101bc3dede0e47f952dac636dec6ba8893f6999df518ad...,2022-09-03T18:03:53.08535+00:00,"W/""datetime'2022-09-03T18%3A03%3A53.08535Z'"""
3,https://comtradeapi.un.org/bulk/v1/fileTariffl...,1.60 MB,191,M,C,H6,202206,191,ba3b3881998307b7be59c75655ff9973d55d08cef2c6aa...,2023-01-16T21:03:41.3625567+00:00,"W/""datetime'2023-01-16T21%3A03%3A41.3625567Z'"""
4,https://comtradeapi.un.org/bulk/v1/fileTariffl...,6.17 MB,203,M,C,H6,202206,203,ec87e4dc6f8842c8a28b706efefb1c26c2528c953fe797...,2022-08-21T08:21:58.7217539+00:00,"W/""datetime'2022-08-21T08%3A21%3A58.7217539Z'"""

In [ ]:
# list data availabity from last week for reference year 2021
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='A', clCode='HS',
                                                period='2021', reporterCode=None, publishedDateFrom=lastweek, publishedDateTo=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
0,20222202101182100,C,A,2021,222,SLV,El Salvador,H5,HS,True,True,True,False,True,False,False,98939,782827683,2022-02-01T15:56:35.4,2023-01-30T14:11:50.7466667

In [ ]:
# list tariffline data availabity from last week for reference period June 2022
mydf = comtradeapicall.getTarifflineDataAvailability(subscription_key, typeCode='C', freqCode='M',
                                                        clCode='HS',
                                                        period='202206', reporterCode=None, publishedDateFrom=lastweek, publishedDateTo=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,classificationCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,lengthCmdCode,firstReleased,lastReleased
0,30068202206202100,C,M,202206,68,BOL,H6,True,True,True,False,True,False,True,40374,-1038552479,10,2022-08-25T21:14:59.97,2023-02-01T06:55:43.0666667
1,30222202206202100,C,M,202206,222,SLV,H6,True,False,True,False,True,False,False,24383,648829595,10,2022-08-08T20:49:11.0566667,2023-01-31T18:52:06.2666667
2,30268202206182100,C,M,202206,268,GEO,H5,True,True,True,False,True,False,True,27716,1365265825,6,2022-08-11T21:07:58.0333333,2023-01-27T03:39:14.0033333
3,30600202206202100,C,M,202206,600,PRY,H6,True,False,True,True,True,False,False,22266,-876986026,11,2022-07-19T15:28:24.55,2023-01-26T21:46:46.5233333

In [ ]:
# list bulk data availability for SITC Rev.1 for reference year 2021 released since last week
mydf = comtradeapicall.getFinalDataBulkAvailability(subscription_key, typeCode='C', freqCode='A',
                                                    clCode='S1',
                                                    period='2021', reporterCode=None, publishedDateFrom=lastweek, publishedDateTo=None)
mydf.head(5)

,fileUrl,fileSize,isOriginalClassification,reporterCode,freqCode,typeCode,classificationCode,refPeriodId,period,publicationDate,partitionKey,rowKey,timestamp,eTag
0,https://comtradeapi.un.org/bulk/v1/file/222/6c...,714.95 KB,False,222,A,C,S1,202101,2021,2023-01-30T15:12:29Z,222,6cf155c5a53c846057c030d49057b218793d9523389fef...,2023-01-30T14:12:29.7562734+00:00,"W/""datetime'2023-01-30T14%3A12%3A29.7562734Z'"""

In [ ]:
# list classic annual bulk file availability released from yesterday
mydf = comtradeapicall.getFinalClassicDataBulkAvailability(subscription_key, typeCode='C', freqCode='A',
                                                    clCode='HS',
                                                    period=None, reporterCode=None, publishedDateFrom=lastweek, publishedDateTo=None)
mydf.head(5)

,fileUrl,fileSize,isOriginalClassification,reporterCode,freqCode,typeCode,classificationCode,refPeriodId,period,publicationDate,partitionKey,rowKey,timestamp,eTag
0,https://comtradeapi.un.org/bulk/v1/fileClassic...,962.84 KB,True,104,A,C,H6,202301,2023,2024-03-14T05:41:55Z,104,cfb2148e1c8e7f00e5582b567d4be52af4dcf68098f9c1...,2024-03-14T04:42:00.8869213+00:00,"W/""datetime'2024-03-14T04%3A42%3A00.8869213Z'"""
1,https://comtradeapi.un.org/bulk/v1/fileClassic...,783.08 KB,True,28,A,C,H3,202301,2023,2024-03-14T21:57:53Z,28,5fc54929a57fb9a86618782cdf3cd837373ec3f33bba9e...,2024-03-14T20:57:59.041235+00:00,"W/""datetime'2024-03-14T20%3A57%3A59.041235Z'"""
2,https://comtradeapi.un.org/bulk/v1/fileClassic...,2.18 MB,True,320,A,C,H6,202301,2023,2024-03-19T02:20:53Z,320,32986d51241cc1824d2ed301eea7db9a203300b1863e1a...,2024-03-19T01:21:09.5067679+00:00,"W/""datetime'2024-03-19T01%3A21%3A09.5067679Z'"""
3,https://comtradeapi.un.org/bulk/v1/fileClassic...,2.17 MB,True,404,A,C,H5,202001,2020,2024-03-15T15:06:46Z,404,dadcc63f3e34c3ed035336267c5b36299f630f8ae1a7ee...,2024-03-15T14:06:57.0084781+00:00,"W/""datetime'2024-03-15T14%3A06%3A57.0084781Z'"""
4,https://comtradeapi.un.org/bulk/v1/fileClassic...,3.14 MB,True,428,A,C,H6,202301,2023,2024-03-19T03:43:42Z,428,3e56287c41b7aa876ea66867555cc42526f37035689303...,2024-03-19T02:43:55.9984626+00:00,"W/""datetime'2024-03-19T02%3A43%3A55.9984626Z'"""

In [ ]:
# list bulk tariffline data availability from last week for reference period June 2022
mydf = comtradeapicall.getTarifflineDataBulkAvailability(subscription_key, typeCode='C', freqCode='M',
                                                            clCode='HS',
                                                            period='202206', reporterCode=None, publishedDateFrom=lastweek, publishedDateTo=None)
mydf.head(5)

,fileUrl,fileSize,reporterCode,freqCode,typeCode,classificationCode,period,partitionKey,rowKey,timestamp,eTag
0,https://comtradeapi.un.org/bulk/v1/fileTariffl...,422.31 KB,222,M,C,H6,202206,222,6a694b8b570f2292ca180679cd3397b5ecddc41fa94df4...,2023-01-31T18:51:06.7572309+00:00,"W/""datetime'2023-01-31T18%3A51%3A06.7572309Z'"""
1,https://comtradeapi.un.org/bulk/v1/fileTariffl...,476.36 KB,268,M,C,H5,202206,268,7345dcc7f7511016b04bde2c88c3548bd391ae2528871b...,2023-01-27T03:38:48.571311+00:00,"W/""datetime'2023-01-27T03%3A38%3A48.571311Z'"""
2,https://comtradeapi.un.org/bulk/v1/fileTariffl...,370.63 KB,600,M,C,H6,202206,600,6b8d62e9e984404b36a12f9333efadd62e55af9f119ca8...,2023-01-26T21:46:07.7140418+00:00,"W/""datetime'2023-01-26T21%3A46%3A07.7140418Z'"""
3,https://comtradeapi.un.org/bulk/v1/fileTariffl...,538.95 KB,68,M,C,H6,202206,68,5c0297485c1cc4390ce75f10d4fef112c7b39b2743bb8b...,2023-02-01T06:55:03.4177878+00:00,"W/""datetime'2023-02-01T06%3A55%3A03.4177878Z'"""

In [ ]:
# Call live update
mydf = comtradeapicall.getLiveUpdate(subscription_key)
mydf.head(5)

,size,startedAt,completedAt,status,lastUpdated,queuedAt,releaseStatus,reporterCode,freqCode,typeCode,classificationCode,period
0,1149698,2023-02-02 10:29:08Z,2023-02-02 10:29:04Z,Success,"Thursday, February 2, 2023","Thursday, February 2, 2023 11:29:02 AM",Released,203,A,S,EB10S,2021
1,717285,2023-02-02 10:28:46Z,2023-02-02 10:28:40Z,Success,"Thursday, February 2, 2023","Thursday, February 2, 2023 11:28:29 AM",Released,203,A,S,EB10,2020
2,674722,2023-02-02 10:28:44Z,2023-02-02 10:28:40Z,Success,"Thursday, February 2, 2023","Thursday, February 2, 2023 11:28:30 AM",Released,203,A,S,EB02,2021
3,659351,2023-02-02 10:28:15Z,2023-02-02 10:28:13Z,Success,"Thursday, February 2, 2023","Thursday, February 2, 2023 11:27:59 AM",Released,203,A,S,EB02,2020
4,734310,2023-02-02 10:28:15Z,2023-02-02 10:28:13Z,Success,"Thursday, February 2, 2023","Thursday, February 2, 2023 11:27:54 AM",Released,203,A,S,EB10,2021

In [ ]:
# Get metadata
mydf = comtradeapicall.getMetadata(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                   reporterCode=None, showHistory=False)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,currency,importConvFactor,exportConvFactor,tradeSystem,classificationCode,importValuation,exportValuation,importPartnerCountry,exportPartnerCountry,importPartner2Country,exportPartner2Country,publicationNote,publicationDate,publicationDateShort,isLatestPublication
0,30056202205202100,C,M,202205,56,EUR,1.05785,1.05785,Special,H6,CIF,FOB,Origin/Consignment for Intra EU,Last Known Destination,N/A,N/A,Revised Data: Data for this period was publish...,2022-10-29T07:18:34.403,29/10/2022,True
2,30616202205202100,C,M,202205,616,USD,1,1,Special,H6,CIF,FOB,Origin,Last Known Destination,N/A,N/A,Revised Data: Data for this period was publish...,2022-11-28T09:46:48.283,28/11/2022,True
5,30688202205202100,C,M,202205,688,USD,1,1,General,H6,CIF/FOB,FOB,Origin,Last Known Destination,Consignment,N/A,Revised Data: Data for this period was publish...,2022-11-28T13:19:51.57,28/11/2022,True
9,30504202205202100,C,M,202205,504,MAD,0.100004,0.100004,Special,H6,CIF,FOB,Origin,Last Known Destination,N/A,N/A,New Data: Data for this period is published fo...,2022-12-21T21:12:15,21/12/2022,True
10,30703202205202100,C,M,202205,703,EUR,1.05785,1.05785,Special,H6,CIF,FOB,Origin,Last Known Destination,Consignment,N/A,Revised Data: Data for this period was publish...,2022-12-22T12:29:11.81,22/12/2022,True

In [ ]:
# Submit async request (final data)
myJson = comtradeapicall.submitAsyncFinalDataRequest(subscription_key, typeCode='C', freqCode='M', clCode='HS',
                                                     period='202205',
                                                     reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                                     partner2Code=None,
                                                     customsCode=None, motCode=None, aggregateBy=None,
                                                     breakdownMode='classic')
print("requestID: ", myJson['requestId'])

Return message: Your request is accepted.You will be notified through your email when the data is ready for download
requestID:  1167874f-bad1-4a8c-94e3-bbf670fd5a6f

In [ ]:
# Submit async request (tariffline data)
myJson = comtradeapicall.submitAsyncTarifflineDataRequest(subscription_key, typeCode='C', freqCode='M',
                                                          clCode='HS',
                                                          period='202205',
                                                          reporterCode=None, cmdCode='91,90', flowCode='M',
                                                          partnerCode=None,
                                                          partner2Code=None,
                                                          customsCode=None, motCode=None)
print("requestID: ", myJson['requestId'])

Return message: Your request is accepted.You will be notified through your email when the data is ready for download
requestID:  0ef78e21-b12b-4ae5-bd84-557dafa3bb8a

In [ ]:
# check async status
# batchId = requestId
mydf = comtradeapicall.checkAsyncDataRequest(subscription_key,
                                             batchId='0ef78e21-b12b-4ae5-bd84-557dafa3bb8a')
print(mydf.iloc[0]['status'])
print(mydf.iloc[0]['uri'])

Completed
https://comtradeapi.un.org/files/v1/async-downloads/batchid-91c5dd20-e827-4e58-a970-0a27a6c5fb54.zip

In [ ]:
# check async status -- all batch history
mydf = comtradeapicall.checkAsyncDataRequest(subscription_key)
mydf

In [ ]:
# submit async and download the result (final data)
comtradeapicall.downloadAsyncFinalDataRequest(subscription_key, directory, typeCode='C', freqCode='M',
                                              clCode='HS', period='202209', reporterCode=None, cmdCode='91,90',
                                              flowCode='M', partnerCode=None, partner2Code=None,
                                              customsCode=None, motCode=None)

Return message: Your request is accepted.You will be notified through your email when the data is ready for download
Processing and downloading the result. BatchId:  8d2e7fe7-609b-48ec-aae5-94423991ae33
Batch Status:  Submitted
Batch Status:  Running
Batch Status:  Completed
batchid-1a26505b-b818-404d-9f16-06f78be16efd.zip  downloaded successfully

In [ ]:
# submit async and download the result (tariffline)
comtradeapicall.downloadAsyncTarifflineDataRequest(subscription_key, directory, typeCode='C', freqCode='M',
                                                   clCode='HS', period='202209', reporterCode=None, cmdCode='91,90',
                                                   flowCode='M', partnerCode=None, partner2Code=None,
                                                   customsCode=None, motCode=None)

Return message: Your request is accepted.You will be notified through your email when the data is ready for download
Processing and downloading the result. BatchId:  8803bec1-0f41-44ed-9c9f-eaf982036d26
Batch Status:  Submitted
Batch Status:  Running
Batch Status:  Completed
batchid-16dc58da-a818-45ad-a760-b62373d892fe.zip  downloaded successfully

In [ ]:
# download the list of reference tables
mydf = comtradeapicall.listReference()
mydf.head(5)

,category,variable,description,fileuri
0,freq,Frequency,The time interval at which observations occur,https://comtradeapi.un.org/files/v1/app/refere...
1,flow,Trade Flow,"Trade flow or sub-flow (exports, re-exports, i...",https://comtradeapi.un.org/files/v1/app/refere...
2,mot,Mode of Transports,The mode of transport used when goods enter or...,https://comtradeapi.un.org/files/v1/app/refere...
3,partner,Partner country/area,The partner country or geographic area for the...,https://comtradeapi.un.org/files/v1/app/refere...
4,reporter,Reporter,The country or geographic area to which the me...,https://comtradeapi.un.org/files/v1/app/refere...

In [ ]:
# download the list of reference table of cmd:B5
mydf = comtradeapicall.listReference('cmd:B5')
mydf.head(5)

,category,variable,description,fileuri
8,cmd:B5,Product,The classification of BEC Rev.5 – goods or ser...,https://comtradeapi.un.org/files/v1/app/refere...

In [ ]:
# download specific reference (list available at listReference())
mydf = comtradeapicall.getReference('reporter')
mydf.head(5)

,id,text,reporterCode,reporterDesc,reporterNote,reporterCodeIsoAlpha2,reporterCodeIsoAlpha3,entryEffectiveDate,isGroup,entryExpiredDate
0,4,Afghanistan,4,Afghanistan,Afghanistan,AF,AFG,1900-01-01T00:00:00,False,NaN
1,8,Albania,8,Albania,Albania,AL,ALB,1900-01-01T00:00:00,False,NaN
2,12,Algeria,12,Algeria,Algeria,DZ,DZA,1900-01-01T00:00:00,False,NaN
3,20,Andorra,20,Andorra,Andorra,AD,AND,1900-01-01T00:00:00,False,NaN
4,24,Angola,24,Angola,Angola,AO,AGO,1900-01-01T00:00:00,False,NaN

In [ ]:
# download specific reference (list available at listReference())
mydf = comtradeapicall.getReference('customs')
mydf.head(5)

    id                             text
0  all                              All
1  C00    TOTAL customs procedure codes
2  C01           Clearance for home use
3  C02  Reimportation in the same state
4  C03             Outright exportation

In [ ]:
# Convert country/area ISO3 to Comtrade code
country_code = comtradeapicall.convertCountryIso3ToCode('USA,FRA,CHE,ITA')
print(country_code)

251,380,250,756,757,840,842,841

In [ ]:
#use the convert function country_code in preview call
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                        reporterCode=comtradeapicall.convertCountryIso3ToCode('USA,FRA,CHE,ITA'), cmdCode='91', flowCode='M', partnerCode=None,
                                        partner2Code=None,customsCode=None, motCode=None)
mydf

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,380,None,None,M,...,0.0,False,0.0,False,365290.415,0.0,365290.415,0,False,True
1,C,M,20220501,2022,5,202205,380,None,None,M,...,0.0,False,0.0,False,109002.980,0.0,109002.980,0,False,True
2,C,M,20220501,2022,5,202205,380,None,None,M,...,0.0,False,0.0,False,127275.223,0.0,127275.223,0,False,True
3,C,M,20220501,2022,5,202205,380,None,None,M,...,0.0,False,0.0,False,124915.159,0.0,124915.159,0,False,True
4,C,M,20220501,2022,5,202205,380,None,None,M,...,0.0,False,0.0,False,65643.824,0.0,65643.824,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,C,M,20220501,2022,5,202205,757,None,None,M,...,0.0,True,0.0,False,1515.151,0.0,1515.151,4,False,True
496,C,M,20220501,2022,5,202205,757,None,None,M,...,0.0,True,0.0,False,5826.091,0.0,5826.091,4,False,True
497,C,M,20220501,2022,5,202205,757,None,None,M,...,0.0,True,0.0,False,5671.109,0.0,5671.109,4,False,True
498,C,M,20220501,2022,5,202205,757,None,None,M,...,0.0,True,0.0,False,13367.177,0.0,13367.177,4,False,True
499,C,M,20220501,2022,5,202205,757,None,None,M,...,0.0,True,0.0,False,20805.283,0.0,20805.283,4,False,True

In [ ]:
# Get the Standard unit value (qtyUnitCode 8 [kg]) for commodity 010391 in 2022
mydf = comtradeapicall.getSUV(subscription_key,
                              period='2022', cmdCode='010391', flowCode=None, qtyUnitCode=8)
mydf

,typeCode,freqCode,period,flowCode,classificationCode,cmdCode,qtyUnitCode,qtyUnitAbbr,uvMin,suv,uvMax,isUniModalDistribution
0,C,A,2022,M,HS,010391,8,kg,0.923359,2.197814,5.740882,True
1,C,A,2022,X,HS,010391,8,kg,0.903170,2.194114,7.001926,True

In [ ]:
# Get number of port calls and trade volume estimates derrived from AIS data for Australia between 1 and 8 February 2023 with vessel types bulk and container.
mydf = comtradeapicall.getAIS(subscription_key, countryareaCode=36, vesselTypeCode='1,2', dateFrom='2023-02-01', dateTo='2023-02-08')
mydf

,typeCode,freqCode,countryareaCode,countryareaDesc,vesselTypeCode,vesselTypeDesc,flowCode,flowDesc,date,num_pc,mtc,dwt,num_pc_ma,mtc_ma,dwt_ma
0,C,D,36,Australia,1,Bulk,M,Imports,2023-02-01T00:00:00,11.0,178276.281,560789.0,7.867,50040.422,806418.75
1,C,D,36,Australia,1,Bulk,M,Imports,2023-02-02T00:00:00,3.0,0.000,151638.0,7.733,49169.125,773076.19
2,C,D,36,Australia,1,Bulk,M,Imports,2023-02-03T00:00:00,7.0,70044.209,671216.0,7.767,47545.039,759567.63
3,C,D,36,Australia,1,Bulk,M,Imports,2023-02-04T00:00:00,4.0,49210.437,227118.0,7.833,49104.973,758652.94
4,C,D,36,Australia,1,Bulk,M,Imports,2023-02-05T00:00:00,7.0,76946.325,307901.0,7.800,51233.973,744765.38
5,C,D,36,Australia,1,Bulk,M,Imports,2023-02-06T00:00:00,4.0,20508.309,192197.0,7.667,51050.727,728893.63
6,C,D,36,Australia,1,Bulk,M,Imports,2023-02-07T00:00:00,6.0,89546.901,512522.0,7.633,53282.695,725674.63
7,C,D,36,Australia,1,Bulk,M,Imports,2023-02-08T00:00:00,10.0,85803.650,1027090.0,7.567,54522.941,714653.63
8,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-01T00:00:00,8.0,51618.014,234105.0,6.767,38823.445,212866.70
9,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-02T00:00:00,8.0,29778.067,158743.0,6.767,37805.453,210222.53
10,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-03T00:00:00,6.0,23214.965,118585.0,6.833,38342.594,209567.50
11,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-04T00:00:00,5.0,20659.108,191613.0,6.667,37300.137,209862.36
12,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-05T00:00:00,11.0,75482.951,349027.0,6.833,39034.602,213293.70
13,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-06T00:00:00,8.0,34170.822,327180.0,6.900,39628.176,211135.59
14,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-07T00:00:00,2.0,10982.328,13048.0,6.700,37731.680,204129.97
15,C,D,36,Australia,2,Container/general cargo,M,Imports,2023-02-08T00:00:00,9.0,83690.320,314420.0,6.700,38710.727,207177.06
16,C,D,36,Australia,1,Bulk,X,Exports,2023-02-01T00:00:00,25.0,1423866.982,2741532.0,24.333,1656291.400,2992297.30
17,C,D,36,Australia,1,Bulk,X,Exports,2023-02-02T00:00:00,21.0,1292101.866,2349816.0,24.300,1648890.900,2986376.50
18,C,D,36,Australia,1,Bulk,X,Exports,2023-02-03T00:00:00,41.0,2817783.863,5158748.0,24.733,1681046.400,3052488.00
19,C,D,36,Australia,1,Bulk,X,Exports,2023-02-04T00:00:00,20.0,1298068.110,2398950.0,24.833,1684142.600,3060473.50
20,C,D,36,Australia,1,Bulk,X,Exports,2023-02-05T00:00:00,31.0,2294925.485,3812655.0,25.167,1709455.600,3103034.80
21,C,D,36,Australia,1,Bulk,X,Exports,2023-02-06T00:00:00,24.0,1441392.240,2914047.0,25.100,1699622.500,3103898.30
22,C,D,36,Australia,1,Bulk,X,Exports,2023-02-07T00:00:00,30.0,2063478.470,3864366.0,25.433,1712828.100,3143883.30
23,C,D,36,Australia,1,Bulk,X,Exports,2023-02-08T00:00:00,11.0,827895.637,1442458.0,24.933,1688364.300,3095929.00
24,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-01T00:00:00,3.0,11379.680,91983.0,3.500,13908.265,121119.87
25,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-02T00:00:00,3.0,8091.133,138563.0,3.500,13821.051,120786.73
26,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-03T00:00:00,5.0,16909.342,281616.0,3.600,14222.016,127171.30
27,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-04T00:00:00,2.0,2721.088,56844.0,3.667,14312.719,129066.10
28,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-05T00:00:00,2.0,0.000,69282.0,3.700,14312.719,128934.34
29,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-06T00:00:00,4.0,10590.329,87171.0,3.800,14361.396,131840.03
30,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-07T00:00:00,4.0,28250.026,156008.0,3.800,14977.113,134579.50
31,C,D,36,Australia,2,Container/general cargo,X,Exports,2023-02-08T00:00:00,4.0,15716.761,206457.0,3.900,15501.006,137741.56

In [ ]:
# The same AIS but using proxy
mydf = comtradeapicall.getAIS(subscription_key, countryareaCode=36,
                              vesselTypeCode='1,2', dateFrom='2023-02-01', dateTo='2023-02-08', proxy_url=proxy_url)
print(mydf.head(5))